<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuzul.nuzultugas5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hoga.tugas5.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NextHalaman" />
        <activity android:name="com.hoga.tugas5.HalamanKalkulator" />
        <activity android:name="com.hoga.tugas5.HalamanProfil" />
        <activity android:name="com.hoga.tugas5.HalamanGambar"></activity>
    </application>

</manifest>